<article class="container">
  <div class="feature--title">
    <h2 class="feature--title__heading">Host Оn Тhe Cloud to Keep Growing</h2>
    <p class="feature--title__text">
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
      accumsan.
    </p>
  </div>
  <section class="feature grid grid--1x2">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="feature__heading">super easy to use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit
        consequatur aliquam maxime dignissimos non error reprehenderit
        recusandae natus sapiente, cum debitis quasi sunt ea facilis iusto
        quidem quibusdam dolores!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="image--feature" src="/images/easy.jpg" alt="" />
  </section>

  <section class="feature grid grid--1x2">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="feature__heading">super easy to use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit
        consequatur aliquam maxime dignissimos non error reprehenderit
        recusandae natus sapiente, cum debitis quasi sunt ea facilis iusto
        quidem quibusdam dolores!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="image--feature" src="/images/easy.jpg" alt="" />
  </section>

  <section class="feature grid grid--1x2">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="feature__heading">super easy to use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit
        consequatur aliquam maxime dignissimos non error reprehenderit
        recusandae natus sapiente, cum debitis quasi sunt ea facilis iusto
        quidem quibusdam dolores!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="image--feature" src="/images/easy.jpg" alt="" />
  </section>

  <section class="feature grid grid--1x2">
    <div class="feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="feature__heading">super easy to use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit
        consequatur aliquam maxime dignissimos non error reprehenderit
        recusandae natus sapiente, cum debitis quasi sunt ea facilis iusto
        quidem quibusdam dolores!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="image--feature" src="/images/easy.jpg" alt="" />
  </section>
</article>
