<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testmonial__image">
      <img src="/images/testimonial.jpg" alt="" />

      <div class="icon-container icon-container-red">
        <svg class="icon icon--primary icon--white icon--small">
          <use xlink:href="/images/sprite.svg#quotes"></use>
        </svg>
      </div>
    </div>

    <div class="testmonial__quote">
      <p class="testmonial__quote-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fugit
        voluptates hic accusantium eum voluptas aut, mollitia magni,
        exercitationem ipsum necessitatibus est commodi nemo alias eius illo!
        Modi accusamus minus fuga atque quis corporis nemo.
      </p>

      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="/images/sprite.svg#line"></use>
          </svg>
        </div>

        <div class="media__body">
          <h3 class="media__title quote__author">mojtaba ghanidel</h3>
          <p class="media__text quote__oragnization">XYZ Company</p>
        </div>
      </div>
    </div>
  </div>
</div>
