<section class="block block--dark block--skewed-right show-case">
  <header class="block__header">
    <h2 class="block__heading">User-Friendly Control Panel</h2>

    <div class="container grid grid--1x2">
      <img class="showcase__image" src="/images/ipad.png" alt="" />

      <ul class="list show--case__media-list">
        <li class="">
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </div>

            <div class="media__body">
              <h3 class="media__title shows-case__body__heading">
                media title
              </h3>
              <p class="media__text show--case__body__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
                non quam, corporis quo vel voluptates deserunt asperiores fuga
                architecto obcaecati.
              </p>
            </div>
          </div>
        </li>

        <li class="">
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </div>

            <div class="media__body">
              <h3 class="media__title shows-case__body__heading">
                media title
              </h3>
              <p class="media__text show--case__body__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
                non quam, corporis quo vel voluptates deserunt asperiores fuga
                architecto obcaecati.
              </p>
            </div>
          </div>
        </li>

        <li class="">
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#snap"></use>
              </svg>
            </div>

            <div class="media__body">
              <h3 class="media__title shows-case__body__heading">
                media title
              </h3>
              <p class="media__text show--case__body__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime
                non quam, corporis quo vel voluptates deserunt asperiores fuga
                architecto obcaecati.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</section>
